/* You can add global styles to this file, and also import other style files */
body, html {
    height: 100%;
    margin: 0;
}

.btn{
    background-color: purple;
    border: 2px solid red;
    border-radius: 25px;
    color: white;
}

.comic-sans{
    font-family: "Comic Sans MS", cursive, sans-serif;
}

