/* You can add global styles to this file, and also import other style files */
body, html {
    height: 100%;
    margin: 0;
}

li {
    margin: 5px 0;
}

.list-header {
    text-shadow: 1px 1px 5px purple; 
}

.btn {
    margin-right: 2px;
    background-color: purple;
    border: 2px solid red;
    border-radius: 25px;
    color: white;
    cursor: pointer;
}

.btn:hover {
    background-color: pink;
    border-color: red;
}

.btn:hover:focus {
    background-color: pink;
    border-color: white;
}

.comic-sans {
    font-family: "Comic Sans MS", cursive, sans-serif;
}

